library/.gradle/8.5/executionHistory/executionHistory.bin
library/.gradle/8.5/executionHistory/executionHistory.lock
library/.gradle/8.5/fileHashes/fileHashes.bin
library/.gradle/8.5/fileHashes/fileHashes.lock
library/.gradle/8.5/fileHashes/resourceHashesCache.bin
library/.gradle/buildOutputCleanup/buildOutputCleanup.lock
library/.gradle/buildOutputCleanup/cache.properties
library/.gradle/buildOutputCleanup/outputFiles.bin
library/build/classes/java/main/dcb/dti/*.class
library/build/install/library/config/currentView
library/build/tmp/compileJava/previous-compilation-data.bin
library/build/tmp/compileJava/compileTransaction/stash-dir/DTIClient.class.uniqueId0
library/build/install/library/lib/BFT-SMaRt.jar
library/build/libs/BFT-SMaRt.jar